{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <h1>Ajouter un établissement</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="#">Revenir à votre espace restaurateur</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.restaurantFormCitySelect').select2();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .select2-container--default {
            color: black;
        }
    </style>
{% endblock %}
